body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 10px solid #272626;
    background-color: #272626;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

.corpo {
    width: 100%;
    border-radius: 10px;
}

.navBar {
    height: 65px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

.nav a {
    margin-left: 65px;
    text-decoration: none;
    color: #272626;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.5s;
}

.nav a:hover {
    color: #c9f15a;
}

.navBar button {
    margin-right: 25px;
    color: #d5d8d8;
    background-color: #272626;
    border: none;
    padding-inline: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    transition: color 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-weight: 700;
    cursor: pointer;
}

.navBar button:hover {
    color: #c9f15a;
}

.banner {
    width: 100%;
}

.logo-novo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    padding-right: 55px;
    width: 10%;
    background-color: #272626;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 100% 0, 96% 5%, 94% 11%, 78% 89%, 73% 99%, 71% 100%, 15% 100%, 0 100%, 0% 85%);
}
.logo-novo img{
    width: 35%;
    height: 65%;
    cursor: pointer;
}
.logo-novo span{
    margin-left: 8px;
    color: white;
}
.texto-banner{
    font-family: "Open Sans", sans-serif;
    display: flex;
    width: 100%;
    color: #272626;
    align-items: end;
    padding-top: 100px;
    padding-bottom: 55px;
    flex-direction: column;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
}
.texto-banner h1{
    font-weight: 500;
    letter-spacing: -4px;
    padding: 0;
    width: 43%;
    font-size: 105px;
    margin: 0;
    margin-top: -45px;
}
.texto-banner p{
    width: 41%;
    margin: 0;
}
.botao-pai{
    display: flex;
    justify-content: end;
    border-bottom-left-radius: 10px;
}
.botao{
    width: 25%;
    display: flex;
    justify-content: end;
    background-color: #272626;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 0;
    clip-path: polygon(15% 11%, 17% 3%, 19% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 2% 94%);
}

.botao button {
    width: 100%;
    background-color:  #c9f15a;
    color: #272626;
    height: 75px;
    font-size: 23px;
    padding-left: 55px;
    padding-right: 35px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    clip-path: polygon(12% 11%, 14% 2%, 17% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0 94%);
}
.navBar, .texto-banner, .botao-pai{
    background-image: url('/img/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.cards{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Varela Round", sans-serif;
}
.car1{
    width: 30%;
    background-color: #484848;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.car1 span, .card2 span{
    padding-inline: 30px;
}
#myChart{
    margin-top: 20px;
    padding-inline: 30px;
    padding-bottom: 15px;
}
.card2{
    width: 20%;
    background-color: #F3F3F3;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.card3{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
    background-color: #8691E4;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;
}
.footer{
    height: 10px;
    width: 100%;
}
.meses{
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}
.meses span{
    padding-inline: 32px;
    color: #949393;
}
.card2Buttons a, img{
    margin-left: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}
.card2Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topCard3{
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.infoCard3{
    display: flex;
    flex-direction: column;
    color: #F3F3F3;
}
.logosCard3{
    display: flex;
    flex-direction: column;
}
.logosCard3 img{
    border: solid 1px #ffffff8e;
    border-radius: 50%;
    width: 25px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.logosCard3 img:hover{
    background-color: #dad3d35d;
}

.infoCard3{
    margin-left: 75px;
}
.logosCard3{
    margin-left: 75px;
}
.barraDiv{
    display: flex;
    justify-content: center;

}
.barra{
    margin-top: 35px;
    margin-bottom: 25px;
    height: 1px;
    width: 85%;
    border-bottom: 1px solid #ffffff8e;
}
.footerCard3{
    display: flex;
    color: #F3F3F3;
    justify-content: space-around;
    align-items: center;
}
.footerInfoCard3{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.usersCad3{
    display: flex;
    align-items: center;
}