body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 10px solid #272626;
    background-color: #272626;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

.corpo {
    width: 100%;
    border-radius: 10px;
}

.navBar {
    position: relative;
    height: 65px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    animation: navbar 0.5s ease-out;
}


.nav a {
    margin-left: 65px;
    text-decoration: none;
    color: #272626;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.5s;

}


@keyframes navbar {
    from {
        opacity: 0;
        translate: 0 -100vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.nav a:hover {
    color: #c9f15a;
}

.navBar button {
    margin-right: 25px;
    color: #d5d8d8;
    background-color: #272626;
    border: none;
    padding-inline: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    transition: color 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
    cursor: pointer;
}

.navBar button:hover {
    color: #c9f15a;
}

.banner {
    width: 100%;
}

.logo-novo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    padding-right: 55px;
    width: 10%;
    background-color: #272626;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 100% 0, 96% 5%, 94% 11%, 78% 89%, 73% 99%, 71% 100%, 15% 100%, 0 100%, 0% 85%);
}

.logo-novo img {
    width: 35%;
    height: 65%;
    cursor: pointer;
}

.logo-novo span {
    margin-left: 8px;
    color: white;
}

.texto-banner {
    font-family: "Open Sans", sans-serif;
    display: flex;
    width: 100%;
    color: #272626;
    align-items: end;
    padding-top: 100px;
    padding-bottom: 55px;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.texto-banner h1 {
    font-weight: 500;
    letter-spacing: -4px;
    padding: 0;
    width: 43%;
    font-size: 105px;
    margin: 0;
    margin-top: -45px;
}

.texto-banner p {
    width: 41%;
    margin: 0;
}

.botao-pai {
    display: flex;
    justify-content: end;
    border-bottom-left-radius: 10px;
}

.botao {
    width: 25%;
    display: flex;
    justify-content: end;
    background-color: #272626;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 0;
    clip-path: polygon(15% 11%, 17% 3%, 19% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 2% 94%);
}

.botao button {
    width: 100%;
    background-color: #c9f15a;
    color: #272626;
    height: 75px;
    font-size: 23px;
    padding-left: 55px;
    padding-right: 35px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    clip-path: polygon(12% 11%, 14% 2%, 17% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0 94%);
}

.corpo {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    z-index: -5;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 0.8fr 2fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    font-family: "Varela Round", sans-serif;
}

.cardsAnimation {
    animation: cards 0.8s ease-out;
}

@keyframes cards {
    from {
        opacity: 0;
        transform: translateY(100vh);
    }

    to {
        opacity: 0.7;
        transform: translateY(0);
    }
}


.car1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #484848;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.car1 span,
.card2 span {
    padding-inline: 30px;
}

#myChart {
    margin-top: 20px;
    padding-inline: 30px;
    padding-bottom: 15px;
}

.card2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #F3F3F3;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.definirButton {
    background-color: #F3F3F3;
    border: solid 1px #2524248e;
    border-radius: 20px;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #252424;
}


.ciclismoButton {
    background-color: #252424;
    border: solid 1px #25242400;
    border-radius: 20px;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #F3F3F3;
}

.logo1Button {
    width: 28px;
    border: solid 1px #2524248e;
    padding: 3px;
    border-radius: 50%;
}

.fitButton {
    background-color: #252424;
    border: solid 1px #2524248e;
    border-radius: 20px;
    padding-inline: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #F3F3F3;
}

.yogButton {
    background-color: #F3F3F3;
    border: solid 1px #2524248e;
    border-radius: 20px;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #252424;
}

.logo2Button {
    width: 28px;
    border: solid 1px #2524248e;
    background-color: #252424;
    padding: 3px;
    border-radius: 50%;
}

.card3 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #8691E4;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.footer {
    height: 10px;
    width: 100%;
}

.meses {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.meses span {
    padding-inline: 28px;
    color: #949393;
}

.card2Buttons a,
img {
    margin-left: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}

.card2Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2Buttona {
    margin-top: 50%;
}

.topCard3 {
    height: 50%;
    display: flex;
    justify-content: space-around;
}

#qrcode{
   width: 130px;
}

#spanTopCard3{
    font-size: 11px; 
    margin-top: 45px;
}

.infoCard3 {
    display: flex;
    flex-direction: column;
    color: #F3F3F3;
}

.logosCard3 {
    display: flex;
    flex-direction: column;
}

.logosCard3 img {
    border: solid 1px #ffffff8e;
    border-radius: 50%;
    width: 25px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.logosCard3 img:hover {
    background-color: #dad3d35d;
}

.barraDiv {
    display: flex;
    justify-content: center;

}

.barra {
    margin-top: 35px;
    margin-bottom: 25px;
    height: 1px;
    width: 85%;
    border-bottom: 1px solid #ffffff8e;
}

.footerCard3 {
    display: flex;
    color: #F3F3F3;
    justify-content: space-around;
    align-items: center;
}

.footerInfoCard3 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.usersCad3 {
    display: flex;
    align-items: center;
}

.container {
    display: none;
}

.container {
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px; 
    height: 50px;
}

.btn {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 0;
    left: 0px;
    cursor: pointer;
}

.btn-left {
    background-color: #333;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 30px;
    left: 0px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-left:before {
    background-color: #333;
    position: absolute;
    width: 30px;
    height: 8px;
    content: "";
    top: -20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-left:after {
    background-color: #333;
    position: absolute;
    width: 30px;
    height: 8px;
    content: "";
    top: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-right {
    background-color: #333;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 30px;
    left: 30px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-right:before {
    background-color: #333;
    position: absolute;
    width: 30px;
    height: 8px;
    content: "";
    top: -20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-right:after {
    background-color: #333;
    position: absolute;
    width: 30px;
    height: 8px;
    content: "";
    top: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.active .btn-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.active .btn-left:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}

.active .btn-left:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}

.active .btn-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.active .btn-right:before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}

.active .btn-right:after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}

.navMobile{
    display: none;
    position: absolute;
    background-color: #252424b4;
    width: 97%;
}
.navMobile a{
    color: #d5d8d8;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}


@media screen and (max-width: 920px) {
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .card3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .texto-banner h1 {
        color: #c9f15a;
        font-size: 85px;
    }

    .botao button {
        font-size: 20px;
    }

    .nav a {
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .car1,
    .card2,
    .card3 {
        grid-area: auto;
    }

    .botao {
        width: 50%;
        height: 75px;
    }

    .botao button {
        height: auto;
        font-size: 12px;
        font-weight: 800;
        padding-left: 38px;
        white-space: nowrap;
    }

    .logo-novo {
        width: 25%;
    }

    .logo-novo img {
        max-width: 100%;
        height: auto;
    }

    .logo-novo span {
        font-size: 15px;
    }

    .nav {
        display: none;
    }

    .navBar button {
        display: none;
    }

    .texto-banner {
        align-items: start;
    }

    .texto-banner h1 {
        font-size: 75px;
    }

    .infoCard3 {
        padding-inline: 10px;
    }

    .usersCad3 {
        padding-inline: 28px;
    }

    .footerCard3 {
        padding: 0;
    }

    .card3 {
        padding: 15px;
    }

    .card2Buttons {
        padding: 0;
        margin: 0;
    }

    .card2Buttona {
        margin-top: 15px;
    }

    .card2Buttonb {
        margin-bottom: 25px;
    }

    .definirButton,
    .ciclismoButton {
        width: 30%;
        text-align: center;
    }

    .fitButton,
    .yogButton {
        width: 28%;
        text-align: center;
    }

    .texto-banner p {
        margin-left: 10px;
    }
    .container{
        display: block;
    }
    .navMobileActive{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    #qrcode{
        width: 100px;
     }
     #spanTopCard3{
        margin-top: 10px;
    }
}
